name: Firebase Cloud Function部分の確認

on: [push]

jobs:
  check_firebase_cloud_function:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'
      - run: npm install
        working-directory: ./functions
      - run: npm --prefix functions run lint
      - run: npm --prefix functions run build
      - run: npm --prefix functions run test
